.hits-block {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 50px;

	.left-panel {

	}
	.right-panel {
		display: flex;
		flex-direction: column;
		.feat-card {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10px;
			width: 230px;
			height: 100px;
			color: white;
			background-color: hsla(220, 20%, 35%, 0.836);
			border-radius: 10px;
			align-self: flex-end;
			font-size: 16px;
			line-height: 20px;
			.counter {
				font-size: 30px;
				font-weight: bold;
			}
			.label {
				margin-left: 20px;
			}
		}
		.feat-card:nth-child(2n) {
			align-self: flex-start;
		}
	}
}