.divider-block {
	margin-top: 90px;
	margin-bottom: 90px;

	.divider::before,  .divider::after{
		border-color: rgba(255, 255, 255, 0.349);
	}
	.divider {
		transition: transform width 5s ease;
		&.left {
			.divider_title {
				transition: font-size 1s ease;
				font-size: 24px;
			}
			&::before {
				transition: width 1.5s ease .2s;
				width: 0%;
			}
			&::after {
				transition: width 1.5s ease .2s;
				width: 100%;
			}
		}
	}
	.divider_title {
		font-size: 20px;
		line-height: 24px;
	}
}