#root {
  margin: 0 auto;
  padding: 2rem 0rem;  
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 300vh; 
  font-family: 'Arial', sans-serif;
  color: white;
  background: linear-gradient(45deg, #1a1a2e, #16213e, #0f3460, #0f2c56);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

h1 {
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}