.background-banner {
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: space-between;
	z-index: -1;
	.img {
		background-repeat: no-repeat;
		width: 400px;
		height: 400px;
		background-position: center;
		background-size: contain;
	}
	.banner-img__first {
		background-image: url(../../assets/images/banner/img1_sn.svg);
		background-position: bottom center;
	}
	.banner-img__second {
		background-image: url(../../assets/images/banner/img2_an.svg);
		background-position: top center;
	}
}